html,
body {
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 15px 0;
}

.logo {
  width: 20vh;
  padding: 0 100px;
}

.header {
  display: flex;
  background-color: #ffeac5;
  padding: 70px 100px;
  height: 13.9cm;
}

.header__left__paragraph {
  font-size: 34px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 460px;
  color: #711a50;
}

.header__text__booste {
  font-size: 50px;
}

.header__left__image {
  width: 450px;
  height: 600px;
  margin-left: 150px;
  margin-top: 5px;
}

.header__left__second__paragraph {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 490px;
  font-weight: 1;
  line-height: 0.8cm;
  color: #555250;
}

.header__left__button__postule {
  height: 50px;
  width: 250px;
  border-radius: 15px;
  border: none;
  font-size: 22px;
  margin-top: 40px;
  background-color: #711a50;
}

.header__left__button__postule:hover {
  cursor: pointer;
}

.header__left__paragraph__span__text {
  color: #ef8242;
}

.form__div {
  margin-top: 175px;
  margin: auto;
  background-color: #ffeac5;
  padding-top: 50px;
}

a {
  text-decoration: none;
}

.header__left__arrow {
  font-size: 22px;
  color: white;
}

.header__left__postule {
  font-size: 22px;
  color: white;
}

.form__div__title {
  margin-top: 50px;
  font-size: 36px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-bottom: 30px;
  color: #711a50;
}

.form__champs {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__inputs {
  display: block;
  margin: 18px 0;
  width: 130vh;
  height: 1.3cm;
  border-radius: 10px;
  padding-left: 30px;
  font-size: 18px;
  border: none;
  box-shadow: 0px 3px 5px rgb(164, 185, 192);
}

.form__inputs::placeholder {
  color: #711a50;
}

.program {
  text-align: center;
  padding: 40px 0;
  font-family: arial;
}

.program__title {
  font-size: 55px;
}

.program__text {
  font-size: 20px;
}

.joined__text,
.textarea__text {
  color: #711a50;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin-top: 0px;
}

.textarea {
  height: 5cm;
  padding: 35px 30px;
  text-align: justify;
  width: 125vh;
}

.form__submission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__submission__button {
  display: block;
  background-color: #711a50;
  margin: 20px 25px;
  color: white;
  border: none;
  width: 12cm;
  height: 1.3cm;
  border-radius: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.form__submission__button:hover {
  cursor: pointer;
}

.form__submission__sumit__button {
  width: 134vh;
  height: 1.3cm;
}

.form {
  padding-bottom: 130px;
}

.footer__part {
  background-color: #ffeac5;
}

.footer__part__logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3cm;
  padding: 30px 0;
  background-color: white;
  box-shadow: 0px 3px 5px rgb(164, 185, 192);
}

.footer__part__logos img {
  width: 25vh;
  height: 14vh;
}

.footer__part__text {
  width: 100%;
  text-align: center;
  font-family: "arial";
  font-size: 18px;
  line-height: 0.8cm;
}

.footer__part__text__paragraph {
  margin-bottom: 3cm;
  margin-top: 40px;
}

.footer__text__images {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  gap: 0.7cm;
  padding: 25px 30px;
}

.footer__text__images img {
  width: 50px;
  height: 50px;
  background-color: #711a50;
}

.footer__part__last__image {
  height: 1.5cm;
}

.footer__part__last__image img {
  margin-top: -8rem;
  width: 100%;
  height: 50vh;
}
